/**
 * @name Pretty n Pink
 * @author maenDisease
 * @version 1.0.0
 * @description Based on Outlook Web.
 * @source https://github.com/maenDisease/Outlook
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Outlook
*/

@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');

:root {
  --home-image: url('https://i.imgur.com/eQoUTyJ.png');
  --accent-hue: 329;
  --accent-saturation: 47%;
  --accent-brightness: 63%;
  --gradient-toggle: 1;
  --gradient-hue-shift: 2.16;
  --gradient-saturation: 27%;
  --gradient-deg: 157deg;
  --customFont: Segoe UI;
}

/* Any custom CSS below here */
